### PyCharm Sensitive information
.idea/workspace.xml
.idea/tasks.xml
.idea/dataSources.ids
.idea/dataSources.xml
.idea/sqlDataSources.xml
.idea/dynamic.xml

## Additional for PyCharm
out/
/data/processed/X_processed.csv
/data/trained/trained_model_svm.pkl
/data/trained/trained_model_nb.pkl
