# Librerie da installare (External Dependencies):
joblib~=1.4.2
pandas~=2.2.3
psutil~=6.1.1
spacy~=3.8.4
scikit-learn~=1.6.1
pyspellchecker~=0.8.2
google-generativeai
matplotlib~=3.10.0
numpy~=1.26.4
seaborn~=0.13.2
Flask~=3.1.0
gensim~=4.3.3

# Scarica il modello di lingua italiana di SpaCy
spacy[model] @ https://github.com/explosion/spacy-models/releases/download/it_core_news_sm-3.4.0/it_core_news_sm-3.4.0.tar.gz

# Librerie del progetto (Local/Standard Libraries):
# - logging, os, re, time, enum, threading, typing: Queste sono librerie standard Python.
# - pipeline (da .pipeline), service.ticket_service, service.gemini_service: Questi sono moduli del progetto e non devono essere installati tramite pip.
google~=3.0.0
protobuf~=5.29.3
